{% extends "base.html" %}
{% block content %}
    <h3>Enter course info below</h3>
    <form action="/add_book" method="POST">
        Filename in sitstuff.com/book/     <input type="text" name="book_url"     value="file.pdf">
        Book name                          <input type="text" name="book_name"    value="Intro to Adding Books, Gribbon 1st Edition">
        Secret:                            <input type="text" name="admin_secret" value="None">
        <input type="submit" name="book-form" value="Add book">
    </form>
{% endblock %}
