{% extends "base.html" %}
{% block content %}
    <h3>Enter course info below</h3>
    <form action="/edit_book" method="POST">
    {% for i in range(amount)%}
        Filename in sitstuff.com/book/     <input type="text" name="book_url_{{i}}"     value="{{ urls[i] }}">
        Book name                          <input type="text" name="book_name_{{i}}"    value="{{ names[i] }}">
        <hr>
    {% endfor %}
        Secret:                            <input type="text" name="admin_secret" value="None">
        <input type="submit" name="book-form" value="Add book">
    </form>
{% endblock %}
