<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>Courses</h2>

    <h4><b>Skip to letter:</b>
    {% for letters in letter_links[:-1] %}
        <a href="#{{ letters }}">{{ letters }}</a>-
    {% endfor %}
    <a href="#{{letter_links[-1]}}">{{ letter_links[-1] }}</a></h4>
    Note: All the books here are just for my use and are definitely not allowed to be used by anyone else<br>

    {% for course in sorted_c %}
        {{ course.getHTML()|safe }}
    {% endfor %}

{% endblock %}
