{% extends "base.html" %}

{% block content %}



<div class="large-9 columns" role="content">
<article>
<h2>Welcome to the site!</h2>
<h6>Created by Josh Gribbon during Summer 2015.</h6>
<p>If this is your first time here, sorry about the popup, gotta pay for the site. I made this as a combination of two things I made- a site to host course info, books, and old tests that I made at the end of my first semester; and a course scheduler tool I made during the Summer of 2015. The site is made with python and flask. Flask basically uses python to make web pages and communicate with the code for the scheduler.</p>
<p>If you want to help out:<br>
 - Send me course info, books, or tests<br>
 - Contribute on github<br>
 - Donate to help pay to host the site</p>
<p>If you decide to hack the site somehow:<br>
 - Please don't be destructive<br>
 - Tell me what you did so I can fix it</p>
</article>

<article>
<h3 <!--style="color:#A30000"-->Overview of the site</h3>
<h5>Home</h5>
<p>Where you are right now.</p>
<h5>Courses/Books</h5>
<p>Info on various courses here. Usually info on the lecture, recitation, homework, exams, and final. Also resources for the course, like the textbook or if you need an online resource.</p>
<h5>Scheduler</h5>
<p>Enter how many courses you want to schedule, what the courses are, then see all the possible schedules you can have.</p>
<h5>Donate</h5>
<p>Use paypal or bitcoin to send money :D</p>
</article>
</div>

<aside class="large-3 columns">
<h5>Other links</h5>
<ul class="side-nav">
<li><a href="http://mystevens.stevens.edu" target="_blank">MyStevens</a></li>
<li><a href="https://www.stevens.edu/sit/registrar/room-schedule" target="_blank">Stevens Room Schedules</a></li>
<li><a href="http://www.reddit.com/r/stevens" target="_blank">Stevens reddit</a></li>
<li><a href="http://www.reddit.com/r/hoboken" target="_blank">Hoboken reddit</a></li>
<li><a href="http://www.hoboken411.com" target="_blank">Hoboken 411</a></li>
</ul>
<div class="panel">
<h5>Github</h5>
<p>Where all the code that runs this website is. This is made with <a href="https://www.python.org/">python</a> using the <a href="http://flask.pocoo.org/">flask</a> web framework.</p>
<a href="https://github.com/joshgrib/sitstuff" target="_blank">Check it out &rarr;</a>
</div>
</aside>

{% endblock %}
